@using MvcHamburgerci.Entities

@model List<Menu>



<div class="container">
    <div class="text-end">
        <a asp-action="SiparisOlustur" asp-controller="Musteri" class="btn btn-success fw-bold">Sipariş Oluştur</a>
        <a asp-action="OncekiSiparisler" asp-controller="Musteri" class="btn btn-danger text-white fw-bold">Önceki Siparişleri Gör</a>
    </div>
    <h4 style="color:darkred">Menülerimize göz atın</h4>
    <table class="table table-hover">
        <thead>
        <th>Ad</th>
        <th>Fiyat</th>
        <th></th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle fw-bold">@item.Ad</td>
                    <td class="align-middle">@item.Fiyat₺</td>
                    <td class="text-center">
                        <img style="height:100px" src="~/img/@item.DosyaAd" alt="" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>




