@using MvcHamburgerci.Entities
@model List<EkstraMalzeme>

<div class="container p-4">
    
    <div class="text-end">
        <a class="btn btn-success" asp-action="Yeni">Yeni Malzeme Ekle</a>
    </div>
    <h4>Ekstra Malzemeler</h4>

    <table class="table">
        <thead>
        <th>Ad</th>
        <th class="text-center">Fiyat</th>
        <th></th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle">@item.Ad</td>
                    <td class="text-center align-middle">@item.Fiyat₺</td>
                    <td class="text-end align-middle">
                        <a class="btn btn-warning" asp-action="Duzenle" asp-route-id="@item.Id">Düzenle</a>
                        <a class="btn btn-danger" asp-action="Sil" asp-route-id="@item.Id">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

