@model MenuViewModel

<div class="container p-4">
    <h4>Menüyü Düzenle</h4>
    <form asp-action="Duzenle" method="post" enctype="multipart/form-data">
        <div class="mb-2">
            <label asp-for="Ad">Ad:</label>
            <input type="text" asp-for="Ad" class="form-control" />
            <span asp-validation-for="Ad" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="Fiyat">Fiyat:</label>
            <input type="text" asp-for="Fiyat" class="form-control" />
            <span asp-validation-for="Fiyat" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="Resim">Resim:</label>
            <input type="file" asp-for="Resim" class="form-control" />
        </div>
        <button type="submit" class="btn btn-success">Kaydet</button>
    </form>
</div>


