@using MvcHamburgerci.Entities
@model Menu
@{
    ViewBag.Title = "Sil";
}

<div class="container p-4">
    <h4>Menü Silme</h4>
    <form asp-action="SilOnay" asp-controller="Menu" method="post">
        <input asp-for="Id" type="hidden" />
        <p>@Model.Ad (@Model.Fiyat)  adlı menüyü silmek istediğinizden emin misiniz?</p>
        <img src="~/img/@Model.DosyaAd" alt="" />
        <div>
            <button class="btn btn-success">Evet</button>
            <a asp-action="Index" class="btn btn-danger">Vazgeç</a>
        </div>
    </form>
</div>


